*{
    margin: 0px;
    padding:0px;
}

html,body{
    height: 100%;
}
aside{background: #72c7a1;}
.main{background: #e0c569}

aside{
    width: 200px;
    float: left;
    height: 200px;
}
/*
当子元素处于浮动状态时,设置负margin>=子元素宽度时,子元素就会叠盖到兄弟元素之上
把盒子模型由标准换成框架盒子
border box-sizing border-box
微组合标签<span>
双标签,短语标签,行间元素
没有任何语义,主要用来组合文档中的内行元素
默认没有任何样式表现,仅为了提供一个结构化的接口,通常使用class样式为其附加语义
<figure>专门用来装图片的
<figcaption>用来给图片下面写描述性的文字的

常用技巧 :当需要同时设置英文和中文字体时,英文字体应该写在前面,因为中文字体中往往已经包含了英文的设置
*/
.main{
    margin-left: 210px;
}
body{
    /*字体分为绝对大小和相对大小
    body中定义的绝对大小可以设置给body和p

    做中文网页的时候,通常使用偶数,以避免文字边缘出现毛边,如14px
    在pc端最小字号12移动端最小设置20

    font-weight:bold 加粗700
                normal 相当于400
    */
    font-size: 14px;
}
h1{
    /*相对大小
        相对于body的1.5倍
    */
    font-size: 1.5em;
}

/*css 文本样式 text-x*/

.h{
    text-align: center;/*设置文本的水平对齐方式,必须用于块状元素*/
    text-decoration:line-through red; /*设置文本的修饰方式*  none 无修饰  underline 下划线修饰  line-through 删除线 overline 上划线/
    text-indent: hanging; /*设置文本的首行缩进*/
    text-transform: none; /*设置文本的转换(针对英文)*/
    text-shadow:red ;  /*设置文本的阴影效果*/
}
/*
overflow 可以设置溢出效果,如果内容太多可以设置滚动条,一般是上下滚动
        auto 自动判断是否需要滚动条
        hidden 隐藏掉多出容器的内容

        但对长串的英文字母或者数字无效
        若是要对英文字母或者数字有效需要使用word-break
        break-all 允许文本在达到容器边缘时,可以任意位置断开,不受词语限制
        keep-all 不允许词语断开,只能再出现词语分割的空格或者连字符的时候才能换行
*/

.box{
    word-break: keep-all;
    overflow: scroll;
    letter-spacing: 2em;
    word-spacing: 1.5em;
}
/*letter-spacing
设置单个字符之间的间距,中文,单个文字,英文:单个字母
指定的间距将被添加到字符之后
通常以字号为参考,使用相对单位来控制间距
可以使用负值
*/

/*word-spacing

设置单词或词语之间的间距,判断单词或词语的依据是文本间的空格
指定的间距将被添加到单词或词语之后,但最后一个词除外
通常以字号为参考,使用相对单位来控制间距
可以使用负值

*/

/*web图片格式

jpg 有损压缩 不支持透明 不支持动画 适应场景 照片文章配图,广告图
png 无损压缩 支持透明 不支持动画 适应场景 透明图 图标 简单背景
gif 无损压缩 支持透明 支持动画 适应场景 图标 小动画 表情包
*/

/*background基本属性
    background-color 背景色
    baskground-image 背景图
    background-repeat 背景的重复方式
    background-attachment 背景图的附着位置方式
    background-position 背景图的位置定位
    background 复合属性,样式声明的所有背景设置
*/

/*html超级链接
锚点 anchor 用来在网页内部跳转  用来跳转到同一个页面的特定位置 href="#fonter" id名
相对路径url 用来在网站内部跳转   斜杠/代表文件夹的分割, ../代表的是上一级的文件夹
绝对路径url 通常用来在不同网站页面之间进行跳转  站外链接如www.baidu.com
空连接
邮箱链接 当用户点击邮箱链接的时候,会启动电脑上的邮件客户端程序,向指定的邮箱地址发送邮件,如果用户的电脑上未安装邮件客户端程序,那么邮箱链接将无法工作
*/



/*css的伪类
  一种动态形成的类选择符,不是预先创建的
  当html元素具有不同的状态或特征时,伪类可以设定该元素不同状态或特征下的样式效果

    伪类写法

*/
a{
    color: #000;
}
/*在常用的选择符后面追加一个冒号":" ,然后加上伪类的名称*/
a:hover{
      color: red;
}

/*常用的伪类

link 没有被访问的链接状态
visited 已经被访问的链接状态
hover 鼠标停时的状态
active 被激活时的状态
focus 获得焦点时的状态
*/

#al:hover{
    color: red;
    font-size: 36px;
}
#al:link{
    color: green;
    font-size: 24px;
}

#al:visited{
    color:blue;
    font-size: 33px;
}

#al:active{
    color: yellow;
    font-size: 48px;
}

#al:focus{
    color: blueviolet;
    font-size: 50px;
}


/*列表

ul 无序列表
dl 定义列表去
dt 定义列表的子级列表标题
dd 定义列表的子级列表描述
*/
